{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "no-mixed-spaces-and-tabs": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "semi": [
      2,
      "always"
    ]
  }
}